html {
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(92, 100, 181);
  background-color: rgb(238, 238, 247)
}
img {
  max-width: 100%;
  cursor: pointer;
}
button {
  cursor: pointer;
}
h2 {
  margin: 0;
}
*:visited {
  color: rgb(92, 100, 181);
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: rgb(92, 100, 181);

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
body {
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.loading {
  display: flex;
  height: 98vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.home {
  width: 100%;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
}
.scroll-button {
  background-color: rgb(92, 100, 181);
  color: white;
  border-radius: 30px;
  margin: 40px;
  padding: 10px;
  border: none;
  outline: none;
}
.body {
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
}
.navbar-list {
  display: flex;
  margin-right: 100px;
  justify-content: space-between;
  width: 125px;
  list-style-type: none;
}
.navbar-item {
  display: flex;
  text-decoration: none;
  text-emphasis-color: white;
}
.social-links {
  position: fixed;
  right: 100px;
  margin-top: 75px;
  width: 125px;
  display: flex;
  justify-content: space-between;
}
.bio {
  width: 100%;
  height: 97vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.bio-desc {
  margin-top: 10vh;
  width: 30%;
}
.bio-name {
  font-size: 42px;
}
.applications {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.project {
  display: flex;
  justify-content: center;
  position: relative;
  width: 50%;
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(92, 100, 181);
  /* background-color: blueviolet; */
}
.project-img {
  margin: 15px;
}
.project-desc {
  margin: 15px;
  width: 50%;
}
.project-links {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  right: 10px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(207,207,232);
  margin-top: 5px;
  width: 100%;
  height: 30vh;
}
@media screen and (max-width: 975px) {
  .project-img {
    display: none;
  }
  .eye {
  display: none;
}
  .navbar {
    position: relative;
  }
  .navbar-list {
    margin-right: 25px;
  }
  .social-links {
    position: absolute;
    right: 25px;
  }
  .bio {
    width: 100%;
    font-size: large;
  }
  .bio-desc {
    margin-top: 15vh;
    width: 90%;
  }
  .project {
    width: 90%;
  }
  .project-desc {
    margin: 15px;
    width: 85%;
  }
  .footer {
   font-size: small;
   text-align: center;
  }
}
