html,
.body {
  /* padding: 0; */
  /* margin: 0; */
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
  background-color: whitesmoke;
}
.navbar {
  display: flex;
  justify-content: center;
  /* width: 50%; */
  background-color: aqua;
}

.navbar-list {
  /* width: 70%; */
  justify-content: center;
  /* font-size: large; */
  background-color: burlywood;
  padding: 15px;
  margin: 20px;
}

.navbar-item {
  background-color: cadetblue;
  display: inline;
  /* justify-content: center; */
  padding: 10px;
  color: black;
}